<%= form_with(model: subscriber, local: true) do |form| %>
  <% if subscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

      <ul>
      <% subscriber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "field-text">
  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_area :firstname, size: "50x2" %>
  </div>

<<<<<<< HEAD
  <div class="background">
  <div class="form-container">
    <div class="form-inner-container">
    <p class="sub details">
      Subscription Details
    </p>
    <p class="oneoffollowing"> Select one of the following </p>
    <p class="customize"> Customize Subscription </p>
    <p class="select yoru pref"> Select your preferences </p>
      <div class="form-white-stuff">
=======
  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_area :lastname, size: "50x2"%>
  </div>
>>>>>>> 14bcbd29f3fa3985511ede8faa59e57e41452b8c

  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email, size: "50x2" %>
  </div>

    <div class="field">
      <%= form.check_box :news %>
      <%= form.label :news %>
    </div><hr>


    <div class="field">
        <%= form.check_box :events %>
      <%= form.label :events %>

    </div>

    </div>

    <div class="field sport">
        <%= form.check_box :snowboarding %>
      <%= form.label :snowboarding %>

    </div>

    <div class="field sport">
        <%= form.check_box :skiing %>
      <%= form.label :skiing %>

    </div>

    <div class="field sport">
        <%= form.check_box :motoX %>
      <%= form.label :motoX %>

    </div>

    <div class="field sport">
        <%= form.check_box :skateboarding %>
      <%= form.label :skateboarding %>

    </div>

    <div class="field sport">
            <%= form.check_box :bmx %>
      <%= form.label :bmx %>

    </div>
    </div>



    <div class="field">
      <div class="form-names">
      <%= form.label :firstname %>
      </div>

      <div class="nameinput">
      <%= form.text_area :firstname %>
      </div>
    </div>

    <div class="field">
      <div class="form-names">
      <%= form.label :lastname %>
      </div>

      <div class="nameinput">
      <%= form.text_area :lastname %>
      </div>
    </div>

    <div class="field">
      <div class="form-names">
      <%= form.label :email %>
      </div>

      <div class="nameinput">
      <%= form.text_area :email %>
      </div>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
    </div>
    </div>
  </div>
<% end %>
