<!DOCTYPE html>
<html>
  <head>
    <title>XGames</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <%= link_to "Admin Login", login_path, :class => "navbar-brand mb-0 h1"%>
        </div>
      </nav>


    <%= yield %>
    </div>
  </body>
</html>
